/**********************
   NAVBAR    
***********************/
.paw-navbar {
    background: #278f86;
    padding: 20px;

    .navbar-brand {
        font-weight: bold;
        font-size: 1.6rem;
        color:#fff;
    }

    .nav-link {
        font-weight: 500;
        color: #fff;
        font-size: 1.2rem;
    }

    .dropdown-menu {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .dropdown-item {color:  #000;}

    .dropdown-item:hover {
        background-color: #d4e2e2;
    }
}

.navbar-toggler {border: none;}

.navbar-toggler:focus {box-shadow: none;}


/**********************
FOOTER
***********************/

.footer {
  background-color: #0a3835;
  color: #ffffff;
}

.footer h5 {
  font-weight: 600;
  margin-bottom: 10px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/**********************
   ADD NEW PET PAGE  
***********************/
.btn-submit {
    background-color: #278f86;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.2s;
}

.btn-submit:hover {background-color: #ffffff;}

/**********************
   VIEW ANIMALS PAGE   
***********************/
.card img {border-bottom: 1px solid #eee;}

.filter-box {
  background: #d4e2e2;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  .form-select {
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: 0.2s;
    }
}

.btn-filter, .btn-filter-toggle {
  background-color: #278f86;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  transition: 0.2s;
}

.btn-filter:hover, .btn-filter-toggle:hover {background-color: #ffffff;}

.card-link {
  text-decoration: none;
  color: inherit;
}

.pet-card {
  transition: 0.2s;
  cursor: pointer;
}

.pet-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}



/**********************
EDIT PET PAGE
***********************/
.btn-update {
    background-color: #278f86;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.2s;
}

.btn-update:hover {background-color: #ffffff;}

.btn-delete {
    background-color: #ff0000;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.2s;
}

.btn-delete:hover {background-color: #ffffff;}


/**********************
PET PAGE INDIVIDUAL
***********************/
.btn_edit, .btn-adopt, .btn-sendEnuiry, .btn-reserve {
    background-color: #278f86;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.2s;
}

.btn_edit:hover, .btn-adopt:hover, .btn-sendEnuiry:hover, .btn-reserve:hover {background-color: #ffffff;}

.fav-overlay {
  position: absolute;
  top: 15px;
  right: 25px;
  z-index: 10;
}

/**********************
SAVED PETS
***********************/

.fav-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.btn-heart {
  background: white;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.btn-heart:hover {
  transform: scale(1.1);
}


/**********************
HOME
***********************/
.hero {
  height: 70vh;
  background: url('/Pawfect/images/banner.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.7);
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 2;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.feature-card {
  border: none;
  border-radius: 15px;
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.pet-card {
  border-radius: 15px;
  transition: 0.3s;
}

.pet-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


/**********************
Login & register
***********************/
.btn-login, .btn-login {
  background-color: #278f86;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.2s;
}

.btn-login:hover, .btn-login:hover {background-color: #ffffff;}

/**********************
user settings
***********************/
.btn-updateName, .btn-updatePassword {
  background-color: #278f86;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.2s;

}
.btn-updateName:hover, .btn-updatePassword:hover, .btn-deleteAcc:hover {background-color: #ffffff;}

.btn-deleteAcc {
   background-color: #e10f0f;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.2s;
}
