/**********************
   NAVBAR    
***********************/
.paw-navbar {
    background: #278f86;

    .navbar-brand {
        font-weight: bold;
        font-size: 1.6rem;
        color:#fff;
    }

    .nav-link {
        font-weight: 500;
        color: #fff;
        font-size: 1.2rem;
    }

    .dropdown-menu {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .dropdown-item {color:  #000;}

    .dropdown-item:hover {
        background-color: #d4e2e2;
    }
}

.navbar-toggler {border: none;}

.navbar-toggler:focus {box-shadow: none;}

/**********************
   ADD NEW PET PAGE  
***********************/
.btn-submit {
    background-color: #278f86;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.2s;
}

.btn-submit:hover {background-color: #ffffff;}

/**********************
   VIEW ANIMALS PAGE   
***********************/
.card img {border-bottom: 1px solid #eee;}

.filter-box {
  background: #d4e2e2;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  .form-select {
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: 0.2s;
    }
}

.btn-filter, .btn-filter-toggle {
  background-color: #278f86;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  transition: 0.2s;
}

.btn-filter:hover, .btn-filter-toggle:hover {background-color: #ffffff;}

.card-link {
  text-decoration: none;
  color: inherit;
}

.pet-card {
  transition: 0.2s;
  cursor: pointer;
}

.pet-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/**********************
PET PAGE INDIVIDUAL
***********************/
.btn_edit {
    background-color: #278f86;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.2s;
}

.btn_edit:hover {background-color: #ffffff;}

/**********************
EDIT PET PAGE
***********************/
.btn-update {
    background-color: #278f86;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.2s;
}

.btn-update:hover {background-color: #ffffff;}

.btn-delete {
    background-color: #ff0000;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.2s;
}

.btn-delete:hover {background-color: #ffffff;}






/**********************
FOOTER
***********************/

.footer {
  background-color: #0a3835;
  color: #ffffff;
}

.footer h5 {
  font-weight: 600;
  margin-bottom: 10px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}



